<head>
	<script>
		function contar(val){
		location.href="/teste2/"+document.getElementById("idvalor").value; }
		const getClient = async () => { const codigo =
		document.getElementById("codigo").value; const response = await
		fetch(`/buscar/${codigo}`); const data = await response.json();
		console.log(data); }
	</script>
</head>
<h1>Versão em Master</h1>
<form action="/gravar" method="POST">
	<label>Codigo</label>
	<input type="text" name="codigo" value="" />
	<label>Nome</label>
	<input type="text" name="nome" value="" />
	<label>Endereço</label>
	<input type="text" name="endereco" value="" />
	<input type="submit" value="Salvar" />
</form>

<form action="/buscarTodos" method="GET">
	<label>Codigo</label>
	<input type="text" name="codigo" disabled value="{{codigo}}" />
	<label>Nome</label>
	<input type="text" name="nome" disabled value="{{nome}}" />
	<label>Endereço</label>
	<input type="text" name="nome" disabled value="{{endereco}}" />
	<input type="submit" value="Buscar" />
</form>

<form method="GET">
	<label>Codigo</label>
	<input type="text" name="codigo" id="codigo" value="{{codigo}}" />
	<label>Nome</label>
	<input type="text" name="nome" disabled value="{{nome}}" />
	<label>Endereço</label>
	<input type="text" name="nome" disabled value="{{endereco}}" />
	{{! buscar pelo codigo }}
	<button type="submit" value="Buscar" onclick="getClient()"></button>
</form>